.header {
  width: 100%;
  padding: 10px;
  display: flex;
}
.button {
  display: inline-block;
  font-size: 16px;
  line-height: 1.15;
  font-weight: 500;
  cursor: pointer;
  background-color: #0d8dcf;
  color: rgb(255, 255, 255);
  width: auto;
  text-align: center;
  padding: 11px 15px;
  border-radius: 4px;
  margin: 12px 0;
}

.menuLinks {
  display: flex;
  padding-top: 33px;
  padding-left: 100px;
  ul {
    list-style: none;
    display: flex;
    li {
      margin-right: 50px;
      a {
        text-decoration: none;
        color: #000;
        display: block;
      }
    }
  }
}
